.wrapper {
    display: grid;
    justify-items: center;
    grid-gap: 1vw;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.posts, .info {
    display: grid;
    justify-self: stretch;
    background-color: #fffbfb;
    word-break: break-word;
    text-align: center;
    padding: 20px
}

@media (max-width: 1140px) {
    .wrapper {
        grid-template-columns: none;
    }
} 