.wrapper {
    display: grid;
    background-color: #fffbfb;
    padding: 30px;
    text-align: center;
    font-weight: bold;
}

.users {
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    margin-top: 50px;
}

.userPhoto {
    height: 80px;
    height: 80px;
    border-radius: 50%;
}

.follow {
    background: #d3460d;
    border: none;
    border-radius: 50px;
    color: #fff;
    font: 600 16px 'Poppins', sans-serif;
    margin: 10px;
    outline: none;
    padding: 10px 10px;
    vertical-align: middle;
    cursor: pointer;
    }

.follow:hover {
    background: #a12f02;
}
