.header {
    grid-area: h;
    background-color: rgb(16, 200, 161);
    border: 3px double white;
    border-radius: 20px 20px 0 0;
}
    
.header img {
    width: 20px;
}

.auth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}