.header {
    background-color: #d55844;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-flow: column;
}
    
.header img {
    width: 20px;
}

.link, .nick {
    display: grid;
    color: #080707;
    text-decoration: none;
    font-weight: bold;
}

.link:hover, .active {
    color: #fffbfb;
    border-bottom: 3px solid #fffbfb;
}

.logout {
    background: #fffbfb;
    border: none;
    border-radius: 50px;
    color: #08222e;
    font-size: inherit;
    font-weight: 600;
    outline: none;
    padding: 10px 10px;
    vertical-align: middle;
    cursor: pointer;
}

.logout:hover {
    background: #080707;
    color: #fffbfb;
}

@media (max-width: 750px) {
    .header {
        grid-template-columns: repeat(auto-fit, minmax(auto, auto));
    }
}