.nav {
    grid-area: n;
    background-color: rgb(77, 73, 73);
    border: 1px dashed aqua;
    padding: 20px;
}

.item a{
    color: rgb(255, 72, 0);
    text-decoration: none;
}

.item a.activeLink {
    color: white;
}

.wrapper {
    margin-top: 100px;
    text-align: center;
}

.link {

}

.friend {

}