import React from 'react';

const Profile = () => {
    return <div className='content'>
        <div>
            <img src='https://www.belightsoft.com/products/imagetricks/img/intro-video-poster@2x.jpg'></img>
        </div>
        <div>
            ava + decription
        </div>

        <div>
            My posts
          <div>
                New posts
          </div>

            <div>
                <div>
                    post 1
                </div>
                <div>
                    post 2
                </div>
            </div>
        </div>
    </div>
}

export default Profile;