.photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.name {
    margin: 20px;
}

.status, .info {
    border-bottom: 1px solid #d55844;
    border-radius: 10px;
    padding: 10px;
}

.contacts {
    line-height: 25px;
}

.edit, .save {
    background: #d3460d;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: inherit;
    font-weight: 600;
    margin: 1rem;
    outline: none;
    padding: 10px 10px;
    vertical-align: middle;
    cursor: pointer;
}

.edit:hover, .save:hover {
    background: #a12f02;
}

.input {
    padding: 5px;
    font: 300 16px 'Poppins', sans-serif;
    border-radius: 10px;
    outline: none;
    border: 1px solid #c3c3c3;
}

.error {
    color: #a12f02;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  
[type="file"] + label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    font-weight: 600;
    margin: 1rem;
    outline: none;
    padding: 10px 10px;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
  }
[type="file"] + label:hover {
    background-color: #d3460d;
  }

[type="file"] + label.upload {
    background-color: #d3460d;
    border-radius: 50px;
    overflow: hidden;
  }
  
[type="file"] + label.upload:hover {
    background-color: #a12f02;
  }
  [type="file"] + label.upload:hover::before {
    right: 75%;
  }
