.wrapper {
    display: grid;
    justify-items: center;
    text-align: center;
}
.word {
    text-align: center;
    font-size: 14px;
    margin-bottom: 60px;
    font-weight: 600;
}

.btn {
    background: #d3460d;
    border: none;
    border-radius: 50px;
    color: #fff;
    font: 600 16px 'Poppins', sans-serif;
    margin: 1rem;
    outline: none;
    padding: 10px 10px;
    vertical-align: middle;
    cursor: pointer;
}

.btn:hover {
    background: #a12f02;
}

.error {
    height: 20px;
    color: #a12f02;
}