.form.error input,
.form.error textarea
{
    border: solid #d3460d 2px;
}

.form.error span
{
    color: #d3460d;
} 

.summaryError {
    border: 2px solid #d3460d;
    color: black;
    background: #d3460d;
}

.errors {
    height: 20px;
}

.preloader {
    display: grid;
    justify-content: center;
}
