.dialogs {
    display: grid;
    background-color: #fffbfb;
    padding: 30px;
}

.item {
    display: grid;
    grid-template-columns: 300px 300px;
}

.item a:link, .item a:visited {
    color: #080707;
    text-decoration: none;
    font-weight: bold;
}

.item a:hover, .item a:active {
    color: #d55844;
    font-weight: bold;
}

.message {
    line-height: 90px;
}

.dialog img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.send {
    text-align: center;
}