.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
padding: 10px;
}

.dialogsItems a:link, .dialogsItems a:visited {
    color: gold;
    text-decoration: none;
}

.dialogsItems a:hover, .dialogsItems a:active {
    color: whitesmoke;
}

.messages {
padding: 10px;
line-height: 75px;
}

.messages .message {

}

.dialog img {
    width: 50%;
    height: 50%;
    border-radius: 30px;
}